# DATABASE CONNECTION
# Copy this file to .env and fill in your credentials

# Database URL format: postgresql://user:password@host:port/database_name
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/alesportAPP

# JWT configuration
JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Email configuration for sending verification emails
SMTP_HOST=smtp.ionos.es # Cambia esto si usas otro proveedor de correo
SMTP_PORT=587   # Puerto típico para SMTP con STARTTLS
SMTP_USER=tu_email@tudominio.com
SMTP_PASSWORD=tu_contraseña
SMTP_FROM="Alesport <tu_email@tudominio.com>"