/* Fondo blanco  */
.ion-page.search-page,
.ion-page.search-page ion-content,
.ion-page.search-page .ion-content {
    --background: #eeeeee !important;
    /* Blanco "TIZA" */
    background: #eeeeee !important;
}

.config-center-wrapper {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    box-sizing: border-box;
}
