/* Fondo blanco  */
.ion-page.forgot-password-page,
.ion-page.forgot-password-page ion-content,
.ion-page.forgot-password-page .ion-content {
  --background: #eeeeee !important;
  background: #eeeeee !important;
}

.login-center-wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}