/* Fondo blanco solo para la pantalla de login (IonPage/IonContent) */
.ion-page.login-page, .ion-page.login-page ion-content, .ion-page.login-page .ion-content {
  --background: #fff !important;
  background: #fff !important;
}

/* Centrado vertical y horizontal del LoginForm en la pantalla de login */
.login-center-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
