/* Fondo blanco igual que login/register */
.ion-page.verify-code-page,
.ion-page.verify-code-page ion-content,
.ion-page.verify-code-page .ion-content {
    --background: #eeeeee !important;
    /* Blanco "TIZA" */
    background: #eeeeee !important;
}

.verify-code-center-wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}