/* Toast base centrado en la parte superior */
.custom-toast {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  min-width: 190px;
  max-width: 90vw;
  padding: 16px 32px 16px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-clip: padding-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-align: center;
}

/* ------------------------------------------- */
/* Estilos específicos para cada tipo de toast */
/* ------------------------------------------- */
/* Toast de error */
.custom-toast--danger {
  background: #901726 !important;
  color: #ffffff !important;
  animation: fadeInShake 0.4s;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  opacity: 1 !important;
}

.custom-toast--success {
  background: #2dd36f;
}

.custom-toast--info {
  background: #3dc2ff;
}

.custom-toast__close {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3em;
  margin-left: 18px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.custom-toast__close:hover {
  opacity: 1;
}

@keyframes fadeInShake {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) translateX(-24px);
  }
  25% {
    transform: translateX(-50%) translateY(0) translateX(24px);
  }
  40% {
    transform: translateX(-50%) translateY(0) translateX(-12px);
  }
  55% {
    transform: translateX(-50%) translateY(0) translateX(12px);
  }
  70% {
    transform: translateX(-50%) translateY(0) translateX(-6px);
  }
  85% {
    transform: translateX(-50%) translateY(0) translateX(6px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) translateX(0);
  }
}